$mainColor: #333;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    background: #f7f7f7;
}

// header

.header {
    h1 {
        position: fixed;
        top: 5rem;
        left: 5rem;
        z-index: 1000;
        font-size: 21px;
        font-weight: 700;
    }
}

// header

// cover

.cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: #fff;
    color: $mainColor;
    text-align: center;
    z-index: 999;

    &.on {
        display: block;
    }

    ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        font-weight: 700;

        li {
            margin: 0 0 30px 0;
            text-transform: uppercase;
        }
    }
}

.cover_open {
    position: fixed;
    top: 4rem;
    right: 5rem;
    z-index: 1000;
    font-size: 0;
    width: 3rem;
    height: 3rem;
    border: none;
    background: transparent;

    &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 3px;
        right: 3px;
        height: 1px;
        background: $mainColor;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 3px;
        right: 3px;
        height: 1px;
        background: $mainColor;
    }

    span {
        &::before {
            content: "";
            position: absolute;
            top: calc(50% - 0.5px);
            left: 3px;
            right: 3px;
            height: 1px;
            background: $mainColor;
        }

        &::after {
            content: "";
            position: absolute;
            top: calc(50% - 0.5px);
            left: 3px;
            right: 3px;
            height: 1px;
            background: $mainColor;
        }
    }
}

.cover_open.on {
    background: #fff;

    &::before {
        display: none;
        background: $mainColor;
    }

    &::after {
        display: none;
        background: $mainColor;
    }

    span {
        &::before {
            transform: rotate(45deg);
            background: $mainColor;
        }

        &::after {
            transform: rotate(-45deg);
            background: $mainColor;
        }
    }
}

// cover

// Portfolio section

.FP {
    color: $mainColor;

    .section {
        background: #fff;


        &.active {

        }

        .inner {
            position: relative;
            width: 120rem;
            margin: 0 auto;
            height: 80vh;
            border-radius: 5rem;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);

            h2 {
                font-size: 2.3rem;
                font-weight: 700;
                margin: 0 0.5rem 0 0;
            }

            .box {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                display: flex;
                gap: 50px;
                font-size: 3rem;
                text-align: right;

                .left {
                    flex: 1.5;
                    // border-radius: 20px;
                    overflow: hidden;
                    height: 40rem;
                    margin: auto 0;
                padding: 0 5rem;


                    img {
                        // transition: 5s;
                    }

                    &:hover img {
                        // transform: translateY(-73%);
                    }
                }

                .right {
                    flex: 1;
                padding: 0 5rem;


                    .tit {
                        position: relative;
                        display: flex;
                        margin: 0 0 5rem 0;
                        justify-content: end;

                        span {
                            margin: auto 0 0 0;
                            font-weight: 500;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: 5rem;
                            right: 0;
                            transform: translateY(-50%);
                            width: 5rem;
                            height: 2px;
                            background: $mainColor;
                        }
                    }

                    span {
                        display: block;
                        font-size: 1.7rem;
                        font-weight: 700;
                        margin: 0 0 10px 0;
                    }

                    p {
                        font-size: 1.7rem;
                        font-weight: 500;
                        margin: 0 0 20px 0;
                    }

                    & > a {
                        font-size: 1.9rem;
                        font-weight: 700;
                        display: inline-block;
                        border: 1px solid $mainColor;
                        padding: 1rem 2rem;
                        border-radius: 5rem;
                    }
                }
            }
        }
    }

    .gnb {
        position: fixed;
        top: 50%;
        right: 5rem;
        transform: translateY(-50%);
        width: 2rem;
        z-index: 999;

        li {
            font-size: 0;
            position: relative;
            height: 2rem;

            a {
                display: block;
                height: 2rem;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 1px;
                    background: $mainColor;
                    transition: width 0.3s;
                }
            }
        }

        li.on {
            a {
                &::after {
                    width: 150%;
                }
            }
        }
    }
}

// Portfolio section

// Profile

.Fsection {
    .inner {
        // display: flex;
    }

    .container {
        display: flex;
        align-items: center;
        gap: 50px;
        margin: 150px 0;

        .lbox {
            text-align: center;
            .fimg {
                border-radius: 50%;
                overflow: hidden;
                width: 25rem;
                height: 25rem;
                border: 1px solid #333;
                margin: 0 0 10px 0;
            }

            p {
                font-size: 21px;
                font-weight: 700;
                line-height: 1.45;
                margin: 0 0 10px 0;
            }

            span {
                font-size: 15px;
            }
        }

        .box {
            gap: 50px;

            dl {
                dt {
                    font-size: 19px;
                    font-weight: 700;
                    margin: 0 0 10px 0;
                }

                dd {
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 1.2;
                    margin: 0 0 5px 0;

                    span {
                        font-size: 13px;
                        padding: 0 0 0 10px;
                    }
                }
            }
        }
    }
}
